#body { 
	background: #C4C8CB repeat-x;
}

#log-in-form-container { 
	width: 320px;
	height: 568px;
	background-image: radial-gradient(ellipse at center, #348ad5 0%,#348ad5 10%,#398cd8 11%,#3588d4 12%,#3687d6 16%,#3485d4 16%,#3586d5 22%,#3687d8 23%,#3584d3 24%,#3786d5 24%,#3586d5 25%,#3887d6 26%,#3382d1 26%,#3683d3 26%,#3683d5 28%,#337fd3 28%,#3581d5 31%,#347ed5 31%,#3581d5 32%,#347cd1 32%,#397cd5 33%,#3473d2 33%,#3571d3 33%,#336dd0 33%,#346bd0 34%,#376ed3 34%,#3166cc 34%,#3165cb 34%,#3468ce 35%,#3465cc 35%,#3667ce 36%,#3566cd 37%,#3465cb 38%,#2f5fc5 39%,#325fc6 39%,#315dc0 40%,#325ec1 41%,#315bbf 41%,#345ec0 43%,#325cbe 44%,#355cc1 45%,#345bc0 46%,#365ec0 48%,#355fc3 48%,#325ec1 48%,#335fc2 50%,#325ebf 50%,#345fc5 51%,#345fc5 53%,#3460c1 54%,#355fc1 54%,#345fc7 56%,#355ec7 59%,#325dc3 60%,#3560c9 60%,#335ec7 60%,#345fc7 61%,#3860bf 62%,#345bb8 62%,#375bb9 62%,#3458b6 64%,#2f54af 65%,#3357ad 65%,#3257a8 65%,#3859a8 66%,#3455a2 66%,#3656a3 66%,#34549f 67%,#3855a3 68%,#3155a1 70%,#3455a4 71%,#3253a0 72%,#3557a1 72%,#3658a2 75%,#3557a1 80%,#33559f 81%,#3658a2 82%,#3759a3 87%,#3458a2 87%,#3858a3 88%,#3656a1 89%,#3759a3 90%,#3256a0 90%,#3256a0 91%,#3759a1 91%,#35569d 92%,#3a58a0 93%,#36549c 93%,#34529a 94%,#35539b 96%,#355495 96%,#335497 97%,#365598 97%,#345396 98%,#375699 98%,#385597 98%,#325090 98%,#34508f 99%,#2e4b87 99%,#385591 99%,#33508c 99%,#37548e 100%,#35528c 100%,#36538d 100%); 
	color: #0A88FB;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:18px;
}

#log-in-form-container p {
	padding:0;
	margin:0;
}
	
#logo-container {
	width: 256px;
	height: 58px;
	background: url('logo.png') no-repeat left center;
	color: White;
	font-family: "Segoe UI", Candara, Calibri, Segoe, Optima, Arial, sans-serif;
	font-size:28px;
	line-height: 70%;
	margin-left:28px;
	padding-top:30px;
}
	
#buffer {
	width: 320px;
	height:10px;
}
	
#form-container {
	width: 252px;
	background-color: #EBE6E1;
	margin-left: 28px;
	padding-top:15px;
}

#form-holder {
	margin-left: 18px;
}

input[type=text], input[type=password] {
	margin-bottom: 10px;
	width: 216px;
	height: 21px;
	color: #404040;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.connect-button { 
    background-position: 0px 0px;
    width: 73px;
    height: 22px;
    background-color: #0A88FB ;
    border: 2px solid transparent;
    border-radius: 50px;
    color: White;
    font-family: Candara, "Segoe UI", Calibri, Segoe, Optima, Arial, sans-serif;
    font-size: 14px;
    text-align: center;    
    cursor: pointer;
    outline:0;
}

#detect-device-container {
	margin-left: 28px;
	width: 252px;
	background-color: #EBE6E1;
	margin-top: 20px;
}

#detect-device-holder {
	margin-left: 18px;
}

#detect-device-holder p {
	padding-top: 25px;
	padding-bottom: 15px;
}

.refresh-button { 
    background-position: 0px 0px;
    width: 73px;
    height: 22px;
    background-color: #0A88FB;
    border: 2px solid transparent;
    border-radius: 50px;
    color: White;
    font-family: Candara, "Segoe UI", Calibri, Segoe, Optima, Arial, sans-serif;
    font-size: 14px;
    text-align: center;    
    cursor: pointer;
    outline:0;
}

#log-in-form-container table {
	width: 228px; 
	margin: 0 auto;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #404040;
	text-align: left;
	border-collapse: separate;
    	border-spacing: 6px;
}

#log-in-form-container thead {
	font-weight: normal;
	color: #0A88FB;
	text-align: left;
	font-size:13px;
}

#log-in-form-container tbody {
	background: #FFFFFF;
    	font-size:11px;	
}

#log-in-form-container th, td {
	padding:6px 3px 6px 3px;	
}

#scroll {
	width: 305px;
	height: 460px;
	height: 460px;
	overflow-x: hidden;
	overflow-y:auto;
	margin-top:20px;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
	background-color: #095293;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #083C82;
}

